.convoWrapper {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 100%;
}

.startWrapper {
  display: flex;
  width: 100px;
  justify-content: space-around;
}
.connectionStatus {
  background-color: red;
  padding: 0.8rem;
  width: fit-content;
  border-radius: 50%;
}

.connectionStatus.connected {
  background-color: green;
}
